<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>120150058127-kj6flnm4nl3uu1scp10o8v22ob6jlm1c.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.120150058127-kj6flnm4nl3uu1scp10o8v22ob6jlm1c</string>
	<key>API_KEY</key>
	<string>AIzaSyAgIAUUkGj5YlgdLF6p1WgSJEaM7Q0kF_A</string>
	<key>GCM_SENDER_ID</key>
	<string>120150058127</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.sosblood</string>
	<key>PROJECT_ID</key>
	<string>sosblood-c5f2c</string>
	<key>STORAGE_BUCKET</key>
	<string>sosblood-c5f2c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:120150058127:ios:1cb4e8102c2d8d37ab3cfa</string>
</dict>
</plist>